<div class="form col-md-6 col-12">
  <form action="?page=categories&act=add" method="post">
    <input type="text" name="name" id="name" placeholder="Категория" required>
    <input type="text" name="title" id="title" placeholder="Описание">
    <input type="file" value="Фото">
    <input type="submit" value="Добавить категорию">
  </form>
</div>
<table class="col-12">
  <tr>
    <th>id</th>
    <th>Категория</th>
    <th>Удалить</th>
  </tr>
  {% if categories is empty %}
  <h3 class="col-12">добавьте товары</h3>
  {% else %}
  {% for category in categories %}
      <tr>
          <td> {{ category.id }} </td>
        <td>
          <form action="?page=categories&act=update&id={{category.id}}" method="post">
            <input type="text" name="name" value="{{ category.name }}">
            <input type="text" name="title" value="{{ category.title }}">
            <input hidden type="text" name="id" value="{{ category.id }}">
            <input type="file" value="Фото">
            <input type="submit" value="Изменить">
          </form>
        <td> <a class="delete-link" href="?page=categories&act=del&id={{ category.id }}">&times;</a></td>
      </tr>
      {% endfor %}
      {% endif %}
</table>