<div class="form col-md-6 col-12">
  <form action="?page=single&act=add" method="POST" enctype="multipart/form-data" class="flex columns">
    <input type="text" name="title" id="title" placeholder="Название" required>
    <select name="category" id="category" required>
      {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
    </select>
    <input type="number" name="price" id="price" placeholder="Цена" required>
    <textarea type="text" name="desc" id="decs" placeholder="Описание" required></textarea>
    <input type="file" name="photo" id="photo" accept="image/jpeg" required>
    <input type="submit" value="Добавить товар">
  </form>
</div>
{% if products %}
<table class="col-12">
  <tr>
    <th>Фото</th>
    <th>Название</th>
    <th>Категория</th>
    <th>Описание</th>
    <th>Цена</th>
    <th>Единицы</th>
    <th>Редактировать</th>
    <th>Удалить</th>
  </tr>
 {% for product in products %}
      <tr>
        <td> <img class="example-image" src="<{{product.title}}" alt="{{product.title}}" /> </td>
        <td>{{product.title}}</td>
        <td>{{product.category}}</td>
        <td>{{product.desc}}</td>
        <td>{{product.old_price}}</td>
        <td>{{product.new_prie}}</td>
        <td> <a class="edit-link" href="?page=single&act=edit&id={{product.id}}" target="_blank">Редактировать</a></td>
        <td> <a class="delete-link" href="?page=single&act=del&id={{product.id}}">&times;</a></td>

      </tr>
  {% endfor %}

</table>
{% else %}
<h3 class="col-12">добавьте товары</h3>';
{% endif %}